name: Deploy - Prod

on:
  workflow_dispatch:

  release:
    types:
      - published

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: prod
      url: https://market.unnamed-swc.com
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/swc-unnamed/holochain:prod
            ghcr.io/swc-unnamed/holochain:latest

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.1"

      - name: Install dependencies
        run: bun install

      - name: Run migrations
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: |
          bun prisma migrate deploy

      - name: Trigger Coolify deployment
        run: |
          curl --request GET '${{ secrets.COOLIFY_WEBHOOK }}' --header 'Authorization: Bearer ${{ secrets.COOLIFY_TOKEN }}'

      - name: Wait for deployment
        run: |
          sleep 60

      - name: Sync Inngest
        run: |
          curl -X PUT https://market.unnamed-swc.com/api/inngest --fail-with-body

  publish_release_notes:
    runs-on: ubuntu-latest
    needs: deploy
    environment:
      name: prod
      url: https://market.unnamed-swc.com
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Publish to Discord
        uses: SethCohen/github-releases-to-discord@v1
        with:
          webhook_url: ${{ secrets.DISCORD_RELEASE_WEBHOOK_URL }}
          color: "2105893"
          username: "Holochain Release Droid"
          footer_title: "Changelog"
          reduce_headings: true
          footer_timestamp: TRUE
