name: Deploy - Dev

on:
  workflow_dispatch:

permissions:
  packages: write

jobs:
  deploy_image:
    runs-on: ubuntu-latest
    environment:
      name: dev
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image to GHCR
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/swc-unnamed/holochain:latest
            ghcr.io/swc-unnamed/holochain:${{ github.sha }}

  deploy_migrations:
    runs-on: ubuntu-latest
    environment:
      name: dev
    needs: deploy_image
    steps:
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.1"

      - name: Install dependencies
        run: bun install

      - name: Generate prisma client
        run: bun prisma generate

      - name: Run migrations
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: |
          bun prisma migrate deploy

  deploy_app:
    runs-on: ubuntu-latest
    environment:
      name: dev
    needs:
      - deploy_image
      - deploy_migrations
    steps:
      - name: Deploy to Dev Environment
        run: |
          curl --request GET '${{ secrets.COOLIFY_WEBHOOK }}' --header 'Authorization: Bearer ${{ secrets.COOLIFY_TOKEN }}'
